[data-slot="session-message-rail-anchor"] {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  height: -webkit-fill-available;
  pointer-events: none;
}

[data-slot="session-message-rail-portal"] {
  z-index: 100;
  margin-left: 12px;
}

[data-component="session-message-rail"] {
  display: contents;
  position: relative;
}

[data-component="session-message-rail"][data-wide] {
  margin-top: 0.125rem;
  left: calc(((100% - min(100%, 50rem)) / 2) - 1.5rem);
  transform: translateX(-100%);
}

[data-component="session-message-rail"]:not([data-wide]) {
  margin-top: 0.625rem;
}
