::selection {
  background: var(--color-background-interactive);
  color: var(--color-text-strong);

  @media (prefers-color-scheme: dark) {
    background: var(--color-background-interactive);
    color: var(--color-text-inverted);
  }
}

[data-page="opencode"] {
  --color-background: hsl(0, 20%, 99%);
  --color-background-weak: hsl(0, 8%, 97%);
  --color-background-strong: hsl(0, 5%, 12%);
  --color-background-strong-hover: hsl(0, 5%, 18%);
  --color-background-interactive: hsl(62, 84%, 88%);
  --color-background-interactive-weaker: hsl(64, 74%, 95%);


  --color-text: hsl(0, 1%, 39%);
  --color-text-weak: hsl(0, 1%, 74%);
  --color-text-weaker: hsl(30, 2%, 81%);
  --color-text-strong: hsl(0, 5%, 12%);
  --color-text-inverted: hsl(0, 20%, 99%);

  --color-border: hsl(30, 2%, 81%);
  --color-border-weak: hsl(0, 1%, 85%);

  --color-icon: hsl(0, 1%, 55%);

}

[data-page="opencode"] {
  @media (prefers-color-scheme: dark) {
    --color-background: hsl(0, 9%, 7%);
    --color-background-weak: hsl(0, 6%, 10%);
    --color-background-strong: hsl(0, 15%, 94%);
    --color-background-strong-hover: hsl(0, 15%, 97%);
    --color-background-interactive: hsl(62, 100%, 90%);
    --color-background-interactive-weaker: hsl(60, 20%, 8%);

    --color-text: hsl(0, 4%, 71%);
    --color-text-weak: hsl(0, 2%, 49%);
    --color-text-weaker: hsl(0, 3%, 28%);
    --color-text-strong: hsl(0, 15%, 94%);
    --color-text-inverted: hsl(0, 9%, 7%);

    --color-border: hsl(0, 3%, 28%);
    --color-border-weak: hsl(0, 4%, 23%);

    --color-icon: hsl(10, 3%, 43%);
  }
}

[data-page="opencode"] {
  background: var(--color-background);
  --padding: 5rem;
  --vertical-padding: 4rem;
  --heading-font-size: 1.375rem;

  @media (max-width: 60rem) {
    --padding: 1.5rem;
    --vertical-padding: 3rem;
  }

  display: flex;
  gap: var(--vertical-padding);
  flex-direction: column;
  font-family: var(--font-mono);
  color: var(--color-text);
  padding-bottom: 5rem;

  a {
    color: var(--color-text-strong);
    text-decoration: underline;
    text-underline-offset: var(--space-2);
    text-decoration-thickness: 1px;
  }

  [data-component="container"] {
    max-width: 67.5rem;
    margin: 0 auto;
    border: 1px solid var(--color-border-weak);
    border-top: none;
  }

  [data-component="content"] {

  }

  [data-component="top"] {
    padding: 24px var(--padding);
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-background);
    border-bottom: 1px solid var(--color-border-weak);

    z-index: 10;


    img {
      height: 28px;
      width: auto;
    }

    [data-component="nav-desktop"] {
      ul {
        display: flex;
        justify-content: space-between;
        gap: 48px;
        li {
          display: inline-block;
          a {
            text-decoration: none;
            span {
              color: var(--color-text-weak);
            }
          }
          a:hover {
            text-decoration: underline;
            text-underline-offset: var(--space-2);
            text-decoration-thickness: 1px;
          }
        }
      }

      @media (max-width: 40rem) {
        display: none;
      }
    }

    [data-component="nav-mobile"] {
      display: none;

      @media (max-width: 40rem) {
        display: block;

        [data-component="nav-mobile-icon"] {
          cursor: pointer;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        [data-component="nav-mobile-menu-list"] {
          position: fixed;
          background: var(--color-background);
          top: 80px;
          left: 0;
          right: 0;
          height: 100vh;

          ul {
            list-style: none;
            padding: 20px 0;

            li {
              a {
                text-decoration: none;
                padding: 20px;
                display: block;

                span {
                  color: var(--color-text-weak);
                }
              }
            }
          }
        }
      }
    }


    [data-slot="logo dark"] {
      display: none;
    }

    @media (prefers-color-scheme: dark) {
      [data-slot="logo light"] {
        display: none;
      }
      [data-slot="logo dark"] {
        display: block;
      }
    }


  }



  [data-component="hero"] {
    display: flex;
    padding: var(--vertical-padding) var(--padding);

    [data-slot="zen logo dark"] {
      display: none;
    }

    @media (prefers-color-scheme: dark) {
      [data-slot="zen logo light"] {
        display: none;
      }
      [data-slot="zen logo dark"] {
        display: block;
      }
    }
  }


  /* Tablist */
  [data-component="tabs"] > [data-slot="tablist"] {
    display: flex;
    gap: 40px;
    align-items: center;
    border: 1px solid var(--color-border-weak);
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: var(--color-background-weak);
    padding: 0 20px;
  }

  /* Tabs */
  [data-slot="tab"] {
    appearance: none;
    background: transparent;
    border: 0;
    padding: 16px 0;
    margin: 0;
    cursor: pointer;
    color: var(--color-text-weak);
    line-height: 1;
    border-bottom: 2px solid transparent;
  }
  [data-slot="tab"][aria-selected="true"] {
    color: var(--color-text-strong);
    border-bottom-color: var(--color-background-strong);
  }
  [data-slot="tab"]:focus-visible {

  }

  /* Panels wrapper */
  [data-component="tabs"] > [data-slot="panels"] {
    background: var(--color-background-weak);
    border: 1px solid var(--color-border-weak);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 24px;
  }

  /* Panel content */
  [data-slot="panel"] {
    display: block;
    margin: 0;
    overflow: auto;
    white-space: pre-wrap;
    transition: opacity .18s ease;
    font-size: 16px;
    font-family: var(--font-mono);

    [data-slot="highlight"] {
      font-weight: 500;
      color: var(--color-text-strong);
    }
  }

  /* Respect the hidden attribute */
  [data-slot="panel"][hidden] {
    display: none !important;
    opacity: 0;
  }




  [data-component="center"] {
    display: block;
    flex: 1;
    text-align: left;
    padding: var(--vertical-padding) 0.5rem;
    border-left: none;

    [data-slot="hero-copy"] {
      img {
        margin-bottom: 56px;
      }

      strong {
        font-size: 24px;
        color: var(--color-text-strong);
        font-weight: 500;
        margin-bottom: 16px;
        display: block;
      }

      p {
        color: var(--color-text-secondary);
        margin-bottom: 24px;
        max-width: 82%;

        @media (max-width: 50rem) {
          max-width: 100%;
        }
      }

      a {
        background: var(--color-background-strong);
        padding: 8px 12px 8px 20px;
        color: var(--color-text-inverted);
        border: none;
        border-radius: 4px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 56px;
        display: flex;
        width: fit-content;
        gap: 12px;
        text-decoration: none;
      }

      a:hover {
        background: var(--color-background-strong-hover);
      }

    }
    [data-slot="model-logos"] {
      display: flex;
      gap: 24px;
      margin-bottom: 56px;

      svg {
        color: var(--color-background-strong);
      }

      @media (prefers-color-scheme: dark) {
        svg {
          color: var(--color-background-strong);
        }
      }
    }



    [data-slot="pricing-copy"] {
      strong {
        color: var(--color-text-strong);
        font-weight: 500;
      }

      p:first-child {
        margin-bottom: 24px;
        color: var(--color-text);
        display: flex;
        gap: 8px;

        @media (max-width: 40rem) {
          flex-direction: column;
          gap: 4px;
        }
      }
    }

  }

  [data-component="comparison"] {
    video {
      width: 100%;
      height: auto;
      max-width: none;
      max-height: none;
      display: block;
    }
  }


  [data-slot="section-title"] {
    margin-bottom: 24px;

    div {
      display: flex;
      gap: 12px;
    }

    span {
      color: var(--color-icon);
    }

    h3 {
      font-size: 16px;
      font-weight: 500;
      color: var(--color-text-strong);
      margin-bottom: 12px;
    }

    p {
      margin-bottom: 12px;
      color: var(--color-text);
    }
  }




  [data-component="what"] {
    border-top: 1px solid var(--color-border-weak);
    padding: var(--vertical-padding) var(--padding);
    color: var(--color-text-secondary);


    ul {
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 16px;
        display: flex;
        gap: 12px;

        span {
          color: var(--color-icon);
        }
        strong {
          font-weight: 500;
          color: var(--color-text-strong);
          margin-right: 12px;
        }
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  [data-component="growth"] {
    border-top: 1px solid var(--color-border-weak);
    padding: var(--vertical-padding) var(--padding);

    svg {
      margin-top: 32px;
      width: 100%;
      height: auto;
    }
  }

  [data-component="privacy"] {
    border-top: 1px solid var(--color-border-weak);
    padding: var(--vertical-padding) var(--padding);

    [data-slot="privacy-title"] {

      h3 {
        font-size: 16px;
        font-weight: 500;
        color: var(--color-text);
        margin-bottom: 12px;
      }

      div {
        display: flex;
        gap: 12px;
      }

      span {
        color: var(--color-icon);
      }

      div {
        display: flex;
        gap: 12px;
      }
    }

  }

  [data-component="zen-cta"] {
    border-top: 1px solid var(--color-border-weak);
    display: flex;
    padding: var(--vertical-padding) var(--padding);

  }

  [data-slot="zen-cta-copy"] {

    strong {
      color: var(--color-text-strong);
      font-weight: 500;
      margin-bottom: 16px;
      display: block;
    }

    p {
      color: var(--color-text-secondary);
      margin-bottom: 24px;
      max-width: 90%;

      @media (max-width: 50rem) {
        max-width: 100%;
      }
    }

    a {
      background: var(--color-background);
      padding: 8px 12px 8px 20px;
      color: var(--color-text-strong);
      border: none;
      border-radius: 4px;
      border: 1px solid var(--color-border-weak);
      font-weight: 500;
      cursor: pointer;
      display: flex;
      width: fit-content;
      gap: 12px;
      text-decoration: none;
    }

    a:hover {
      background: var(--color-background-weak);
    }

  }
  [data-slot="model-logos"] {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;

    svg {
      color: var(--color-background-strong);
    }

    @media (prefers-color-scheme: dark) {
      svg {
        color: var(--color-background-strong);
      }
    }
  }

  [data-component="email"] {
    border-top: 1px solid var(--color-border-weak);
    padding: var(--vertical-padding) var(--padding);
    color: var(--color-text);

    [data-slot="dock"] {
      border-radius: 14px;
      border: 0.5px solid rgba(176, 176, 176, 0.60);
      background: #F2F1F0;
      margin-bottom: 32px;
      overflow: hidden;
      height: 64px;
      width: 185px;
      box-shadow: 0 6px 80px 0 rgba(0, 0, 0, 0.05), 0 2.507px 33.422px 0 rgba(0, 0, 0, 0.04), 0 1.34px 17.869px 0 rgba(0, 0, 0, 0.03), 0 0.751px 10.017px 0 rgba(0, 0, 0, 0.03), 0 0.399px 5.32px 0 rgba(0, 0, 0, 0.02), 0 0.166px 2.214px 0 rgba(0, 0, 0, 0.01);

      img {
        width: 100%;
        height: auto;
      }

      @media (prefers-color-scheme: dark) {
        background: #312D2D;
      }


    }

    [data-slot="form"] {
      position: relative;

      input {
        background: var(--color-background-weak);
        border-radius: 6px;
        border: 1px solid var(--color-border-weak);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;

        @media (max-width: 30rem) {
          padding-bottom: 80px;
        }
      }

      input:focus {
        background: var(--color-background-interactive-weaker);
        outline: none;
        border: none;
        color: var(--color-text-strong);

        border: 1px solid var(--color-background-strong); /* Tailwind blue-600 as example */

        /* Tailwind-style ring */
        box-shadow: 0 0 0 3px var(--color-background-interactive);
        /* mimics "ring-2 ring-blue-600/50" */
      }

      button {
        position: absolute;
        height: 40px;
        right: 12px;
        background: var(--color-background-strong);
        padding: 4px 20px;
        color: var(--color-text-inverted);
        border-radius: 4px;
        font-weight: 500;
        cursor: pointer;
        top: 50%;
        margin-top: -20px;

        @media (max-width: 30rem) {
          left: 20px;
          right: 20px;
          bottom: 20px;
          top: auto;
        }
      }
    }
  }

  [data-component="faq"] {
    border-top: 1px solid var(--color-border-weak);
    padding: var(--vertical-padding) var(--padding);

    ul {
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 24px;
      }
    }

    [data-slot="faq-question"] {
      display: flex;
      gap: 16px;
      margin-bottom: 8px;
      color: var(--color-text-strong);
      font-weight: 500;
      cursor: pointer;

    }

    [data-slot="faq-answer"] {
      margin-left: 40px;
      margin-bottom: 32px;
    }
  }

  [data-component="testimonials"] {
    border-top: 1px solid var(--color-border-weak);
    padding: var(--vertical-padding) var(--padding);
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 60rem) {
      --padding: 1rem;
      --vertical-padding: 1rem;
    }

    a {
      text-decoration: none;
    }
    [data-slot="testimonial"] {
      background: var(--color-background-weak);
      border-radius: 6px;
      border: 1px solid var(--color-border-weak);
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      @media (max-width: 60rem) {
        flex-direction: column-reverse;
        gap: 24px;
      }

      [data-slot="name"] {
        display: flex;
        gap: 16px;

        @media (max-width: 60rem) {
          flex-direction: column;
          gap: 8px;
        }

        span {
          display: inline-block;
        }

        img {
          height: 24px;
          width: 24px;
          border-radius: 24px;
        }


      }

      [data-slot="quote"] {
        margin-left: 40px;

        @media (max-width: 60rem) {
          margin-left: 0;
        }
        span {
          color: var(--color-text);
          text-decoration: none;
        }
      }
    }


    [data-slot="button"] {
      all: unset;
      cursor: pointer;
      display: flex;
      align-items: center;
      color: var(--color-text);
      gap: var(--space-2-5);
      font-size: 1rem;

      @media (max-width: 24rem) {
        font-size: 0.875rem;
      }

      strong {
        color: var(--color-text-strong);
        font-weight: 500;
      }

      @media (max-width: 40rem) {
        justify-content: flex-start;
      }

      @media (max-width: 30rem) {
        justify-content: center;
      }
    }
  }



  [data-component="copy-status"] {
    @media (max-width: 38rem) {
      display: none;
    }

    [data-slot="copy"] {
      display: block;
      width: var(--space-4);
      height: var(--space-4);
      color: var(--color-text-weaker);

      [data-copied] & {
        display: none;
      }
    }

    [data-slot="check"] {
      display: none;
      width: var(--space-4);
      height: var(--space-4);
      color: var(--color-text-strong);

      [data-copied] & {
        display: block;
      }
    }
  }

  [data-component="footer"] {
    border-top: 1px solid var(--color-border-weak);
    display: flex;
    flex-direction: row;

    [data-slot="cell"] {
      flex: 1;
      text-align: center;
      padding: 2rem 0.5rem;

      a {
        text-decoration: none;

        span {
          color: var(--color-text-weaker);
        }
      }

      a:hover {
        text-decoration: underline;
        text-underline-offset: var(--space-2);
        text-decoration-thickness: 1px;
      }
    }

    [data-slot="cell"] + [data-slot="cell"] {
      border-left: 1px solid var(--color-border-weak);
    }

    /* Mobile: third column on its own row */
    @media (max-width: 40rem) {
      flex-wrap: wrap;

      [data-slot="cell"] {
        flex: 1 0 100%;
        border-left: none;
        border-top: 1px solid var(--color-border-weak);
      }

      [data-slot="cell"]:nth-child(1) {
        border-top: none;
      }

    }
  }

  [data-component="legal"] {
    color: var(--color-text-weaker);
    text-align: center;

    a {
      color: var(--color-text-weaker);
      text-decoration: none;
    }
  }
}
